@model FileUploader.Web.ViewModels.FileViewModel

<form enctype='multipart/form-data' method="post" role="form">
    <div class="container">
        <div class="form-group">
            @Html.TextBoxFor(x => x.FileData, null, htmlAttributes: new { type = "file", @class = "text-center", id = "fileId" })
            <label id="errorMessage" style="font-size: small; color: red;"></label>
        </div>
        <div class="form-group mt-4">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary mt-4" type="submit" id="uploadButton">Upload file</button>
                <label id="errorMessage" style="font-size: small; color: red;"></label>
            </div>
        </div>
    </div>
</form>
@section scripts {
    <script>
        $('#uploadButton').prop('disabled', true);
        $("#fileId").on("change", () => {
            let fileExtension = $("#fileId").val().split('.').pop().toLowerCase();
            if (fileExtension !== 'txt') {
                $('#errorMessage').show();
                $('#uploadButton').prop('disabled', true);
                $('#errorMessage').text('The file needs to be .txt in order to upload it');
                return;
            }
            else {
                $('#errorMessage').hide();
                $('#uploadButton').prop('disabled', false);
            }
        });
    </script>
}